#cenarioImg {
    width: 40rem;
    height: 40rem;

}

@media (max-width: 767px) {
  #cenario {
    flex-direction: column;
  }

  #status {
    order: 2;
    margin-top: 10px; /* Ajuste a margem superior conforme necessário */
    padding-top: 10px; /* Ajuste o preenchimento superior conforme necessário */
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
  }

  #instrucao {
    order: 3;
    margin-top: 10px; /* Ajuste a margem superior conforme necessário */
    padding-top: 10px; /* Ajuste o preenchimento superior conforme necessário */
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
  }

  #acao {
    order: 4;
    margin-top: 10px; /* Ajuste a margem superior conforme necessário */
    padding-top: 10px; /* Ajuste o preenchimento superior conforme necessário */
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
  }
}


#charImg{
    width: 40rem;
    height: 40rem;
    position: fixed;
    position: absolute;
    margin-top: 6rem;
    margin-left: -20rem;

}

#status{
    text-align: left;
}

body{
    font-family: 'Pangolin', cursive;
    font-size: larger;
    background-color: #bcbcac;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23383b4d' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  p, h1, h2, h3, h4, h5, h6, span {
    background-color: #add8e6;
    padding: 10px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    color: darkblue;
    
  }
  

  progress {
    appearance: none;
    height: 20px;
    width: 100%;
    border: none;
  }
  
  progress::-webkit-progress-bar {
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  progress::-webkit-progress-value {
    background-color: #00ff08;
    border-radius: 5px;
  }

.content img{
    width: 4%;
margin-top: 1%;
margin-bottom: 0px;

  }


footer{
    background-color: #0aff68;
    color: darkblue;
    margin-top: 1%;
    margin-bottom: -3%;
}

footer p{
    margin-top: 1%;
    background-color: #0aff68;
    color: darkblue;
    border: none;
}

footer a{
    color: darkblue;
}